
body{
    margin: 0 ;
    background-image:url('http://localhost/redhotel/img/bar.jpg');
    background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
    padding: 0;
	background-size:100%;
	color:black;
	text-align: center;
	
}

h1{
	font-size :40px ;
	text-align :center ;
	color :black;
	font-family : arial ;
	font-variant: small-caps;
	text-shadow: 1px 1px 10px  hsl(0, 100%, 50%);
}
h4{
	
	color:#631908;
	font-size :15px ;
}
h5{
	color:black;

}
#barnav
header{
	font-family: mono space;

}
header nav{
	color: black;
	
	
	font-size: 20px;
	}
header nav{
	color: black;


	font-size: 20px;

}
header nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  text-align: left;
}

header nav ul li{


	
}
header nav ul li a{
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
	}
header nav ul li a:hover{
 background-color:hsl(0, 100%, 50%);
  color: white;
}
header nav ul li ul li{
	display:none;
	background-color:#DBA194;
}
header nav ul li:hover ul li{
	display:block;
	background-color: #555;
	color: white;
}


#fieldset
fieldset
{
		  border-radius: 5px;
		  background:linear-gradient(gray,violet);
		   margin : 0 auto;
		   text-align: center;
	  }
#barreinfores
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: hsl(0, 100%, 50%);
}
input[type=submit] {
  width: 25%;
  background-color: #BD2200;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=text], select {


  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.diaporama2{
float:center;
margin:0 auto;
width: 900px;
height: 200px;
border: 3px solid #333;
background-image:url('http://localhost/redhotel/img/co3.jpg');
background-size:100%;

webkit-animation-name: diapo2;
webkit-animation-duration:9s;
webkit-animation-timing-function:linear;
webkit-animation-iteration-count:infinite;
webkit-animation-direction:normal;

moz-animation-name: diapo2;
moz-animation-duration:9s;
moz-animation-timing-function:linear;
moz-animation-iteration-count:infinite;
moz-animation-direction:normal;

animation-name: diapo2;
animation-duration:9s;
animation-timing-function:linear;
animation-iteration-count:infinite;
animation-direction:normal;
}
@-webkit-keyframes diapo2{
0%{background-image:url('http://localhost/redhotel/img/co1.jpg');}
10%{background-image:url('http://localhost/redhotel/img/co1.jpg');}
30%{background-image:url('http://localhost/redhotel/img/co2.jpg');}
55%{background-image:url('http://localhost/redhotel/img/co2.jpg');}
67%{background-image:url('http://localhost/redhotel/img/co3.jpg');}
90%{background-image:url('http://localhost/redhotel/img/co3.jpg');}
}
@-moz-keyframes diapo2{
0%{background-image:url('http://localhost/redhotel/img/co1.jpg');}
10%{background-image:url('http://localhost/redhotel/img/co1.jpg');}
30%{background-image:url('http://localhost/redhotel/img/co2.jpg');}
55%{background-image:url('http://localhost/redhotel/img/co2.jpg');}
67%{background-image:url('http://localhost/redhotel/img/co3.jpg');}
90%{background-image:url('http://localhost/redhotel/img/co3.jpg');}
}
@keyframes diapo2{
0%{background-image:url('http://localhost/redhotel/img/co1.jpg');}
10%{background-image:url('http://localhost/redhotel/img/co1.jpg');}
30%{background-image:url('http://localhost/redhotel/img/co2.jpg');}
55%{background-image:url('http://localhost/redhotel/img/co2.jpg');}
67%{background-image:url('http://localhost/redhotel/img/co3.jpg');}
90%{background-image:url('http://localhost/redhotel/img/co3.jpg');}
}



.diaporama3{
float:center;
margin:0 auto;
width: 400px;
height: 250px;
border: 3px solid #333;
background-image:url('http://localhost/redhotel/img/panneau2.jpg');
background-size:100%;

webkit-animation-name: diapo3;
webkit-animation-duration:9s;
webkit-animation-timing-function:linear;
webkit-animation-iteration-count:infinite;
webkit-animation-direction:normal;

moz-animation-name: diapo3;
moz-animation-duration:9s;
moz-animation-timing-function:linear;
moz-animation-iteration-count:infinite;
moz-animation-direction:normal;

animation-name: diapo3;
animation-duration:9s;
animation-timing-function:linear;
animation-iteration-count:infinite;
animation-direction:normal;
}
@-webkit-keyframes diapo3{
0%{background-image:url('http://localhost/redhotel/img/panneau.jpg');}
10%{background-image:url('http://localhost/redhotel/img/panneau.jpg');}
30%{background-image:url('http://localhost/redhotel/img/panneau2.jpg');}
55%{background-image:url('http://localhost/redhotel/img/panneau2.jpg');}
67%{background-image:url('http://localhost/redhotel/img/panneau.jpg');}
90%{background-image:url('http://localhost/redhotel/img/panneau.jpg');}
}
@-moz-keyframes diapo3{
0%{background-image:url('http://localhost/redhotel/img/panneau.jpg');}
10%{background-image:url('http://localhost/redhotel/img/panneau.jpg');}
30%{background-image:url('http://localhost/redhotel/img/panneau2.jpg');}
55%{background-image:url('http://localhost/redhotel/img/panneau2.jpg');}
67%{background-image:url('http://localhost/redhotel/img/panneau.jpg');}
90%{background-image:url('http://localhost/redhotel/img/panneau.jpg');}
}
@keyframes diapo3{
0%{background-image:url('http://localhost/redhotel/img/panneau.jpg');}
10%{background-image:url('http://localhost/redhotel/img/panneau.jpg');}
30%{background-image:url('http://localhost/redhotel/img/panneau2.jpg');}
55%{background-image:url('http://localhost/redhotel/img/panneau2.jpg');}
67%{background-image:url('http://localhost/redhotel/img/panneau.jpg');}
90%{background-image:url('http://localhost/redhotel/img/panneau.jpg');}
}

